%h3= "Контакти"
%div.Contact
  %div.Personal_information
    %p= "Мартин Димитров Попов"
    %p= "e-mail: popov.marto@gmail.com"
    %p= "специалност - Компютърни науки"
    %p= "4-ти курс, 2015г."
  %img{src:"/img/martin.jpg"}
%div.Contact
  %div.Personal_information
    %p= "Мария Николаева Станчева"
    %p= "e-mail: mnstancheva@gmail.com"
    %p= "специалност - Компютърни науки"
    %p= "4-ти курс, 2015г."
  %img{src:"/img/mariya.jpg"}