- if @solution.problem.end_date == nil || @solution.problem.end_date > Date.today
  %h3
    = "Редактиране на задача #{@solution.problem.name}"
  %form{action: "/problems/#{@solution.problem.id}/solutions/#{@solution.id}/update", method: 'post', id: "problem-form"}
    %div.inputBlock
      %label{:for => 'text'} Решение
      %textarea{name: "text", form:"problem-form"}
        = Rack::Utils.escape_html(@solution.text)
    %div.buttonSubmit
      %input{name: 'submit', value: "Качване", type: 'submit'}
- else
  %div.errorBlock
    %p
      Крайният срок за предаване на решение е изтекъл :(