%h3= "Начало"
%div.HomePage
  %p.Hello= "Здравейте!"
  %p= "Добре дошли в приложението за проверка и оценка на домашни работи."
  %p= "Сайтът е разработен като проект за курса по WWW технологии, воден от доц. Милен Петров, 2015г. Предоставя набор от функционалности свързани със задаването и проверката на домашни работи."
  %p= "При регистрация потребителите се записват в системата като студенти или учители, което определя техните права."
  %p= "На учителите се предоставят възможности за създаване на нови задачи за домашна работа, прилагане на собствено решение на проблема, задаване на краен срок за изпълнение на задачата. След като учениците изпратят решенията си, учителят може да пргледа всички качени решения, след което да ги оцени. Има възможност за добавяне на автоматизирани тестове за С++ задачи. Учителят въвежда примерни -вход- и -изход- за своята задача, като резултатите се сравняват с резултатите, получени след компилиране на решението на даден студент. Резултатът е отразен в проценти, съответстващи на броя минали тестове."
  %p= "Студентите имат право да виждат всички зададени задачи. Има форма за качване и редактиране на решения. Могат да виждат получените оценки на конкретните задачи. В профила си имат възможност да следят последните оценени и качени от тях задачи."
