%h2.itemName= @problem.name
%p= @problem.description
%p= @problem.end_date
- if @user == @problem.author
  %p
    = "Броят на предадените решения е #{@problem.solutions.count}"
  %p
    Може да ги разгледате
    %a{href: "/problems/#{@problem.id}/solutions"}тук.
  - unless @problem.tests.empty?
    %h4.itemName Тестове:
    - @problem.tests.each do |test|
      %div.itemBlock
        %p
          %strong Вход:
          = test.input
        %p
          %strong Очакван Изход:
          =  test.output
- else
  - solution = Solution.where(problem_id: @problem.id, author_id: @user.id).first
  - if solution != nil
    %p
      Може да прегледате своето решение
      %a{href: "/problems/#{@problem.id}/solutions/#{solution.id}"}тук.
  - else
    %form{action: "/problems/#{@problem.id}/solutions/new"}
      %div.buttonSubmit
        %input{name: 'submit', value: "Предай решение", type: 'submit'}
