%h3 Профил
%form{action: '/users/create', method: 'post'}
%div.SolutionInformation
  %p.ProfileText= "Последните предадени решения на задачи:"
  - @user.solutions.order(updated_at: :desc).first(3).each do |solution|
    %a.SolutionBlock{href: "/problems/#{solution.problem.id}/solutions/#{solution.id}"}= solution.problem.name
  %p.ProfileText= "Последните оценени задачи:"
  - @user.solutions.where("grade is not null").order(updated_at: :desc).first(3).each do |solution|
    %a.SolutionBlock{href: "/problems/#{solution.problem.id}/solutions/#{solution.id}"}= solution.problem.name
%div.NewPassword
  %a{href: "/profile/change_password"}= "Промяна на парола"


