%h3
  = "Решение на задача #{@solution.problem.name}"
%div.itemBlock
  %pre= @solution.text
- if @user.student?
  - if @solution.grade != nil
    %p
      = "Оценката на вашата задача е "
      %strong= "#{@solution.grade}"
  -else
    %p= "Задачата все още не е оценена."
  %form{action: "/problems/#{@solution.problem.id}/solutions/#{@solution.id}/edit"}
    %div.buttonSubmit
      %input{name: 'submit', value: "Редактирай", type: 'submit'}
  %form{action: "/solutions/#{@solution.id}/delete"}
    %div.buttonSubmit
      %input{name: 'submit', value: "Изтрий", type: 'submit'}
- else
  - if @solution.grade != nil
    %p
      ="Оценката на задачата е "
      %strong="#{@solution.grade}"
    %form{action: "/verify_solution/#{@solution.id}"}
      %div.buttonSubmit
        %input{name: 'submit', value: "Оцени повторно", type: 'submit'}
  - else
    %p= "За да оцените задачата натиснете бутона и след това попълнете формата."
    %form{action: "/verify_solution/#{@solution.id}"}
      %div.buttonSubmit
        %input{name: 'submit', value: "Оцени", type: 'submit'}