%h3= "Предадени решения за задача #{@problem.name}"
- if @solutions.empty?
  %p
    Все още не са предадени никакви решения :(
- else
  - @solutions.each do |solution|
    %div.itemBlock
      %h4.itemName
        Решение на:
        %a{href: "/problems/#{solution.problem.id}/solutions/#{solution.id}"}= "#{solution.author.name}"
      %pre= solution.text