%h3= "Оценяване"
- if @solution.solution_tests.empty?
  %div.itemBlock
    %p
      Няма въведени тестове, свързани със задачата
- else
  %p
    Полученият резултат от тестовете е:
    = "#{@solution.result} %"

  - @solution.solution_tests.each do |solution_test|
    %div.itemBlock
      %p
        %strong Вход:
        =solution_test.test.input
      %p
        %strong Очакван Изход:
        = solution_test.test.output
      %p
        %strong Получен Изход:
        = solution_test.received_output
      %p
        %strong Резултат:
        = solution_test.outcome

%form{action: "/solution/#{@solution.id}/grade", method: 'post'}
  %div.inputBlock
    %label{:for => 'grade'} Напишете оценка:
    %input{name: 'grade', type: 'text'}
  %div.buttonSubmit
    %input{name: 'submit', value: "Запази", type: 'submit'}
